// Container class
.container {
    color: white;
    text-align: center;

    h2 {
        font-size: 40px;
    }

    @media(min-width:768px) {
        h2 {
            font-size: 64px;
        }
    }
}

.wrapper {
    max-width: 1170px;
    margin-inline: auto;
    padding-inline: 1rem;
}

// Overview component
.overview {
    background-color: #014E56;

    .content {
        padding: 2rem 0;
        
        p {
            width: 100%;
            max-width: 730px;
        }

        @media(min-width:768px) {
            padding: 4rem;
        }

        @media(min-width:1024px) {
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: 3rem;
            text-align: start;
        }
    }
}

// Director component
.director {
    background-color: #004047;

    .content {
        padding: 2rem 0;
        h2 {
            margin-bottom: 1rem;
        }
    }
}

// Avatars div - found in Director component
.avatars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    @media(min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

// Avatar div - child element of Avatars
.avatar {
    position: relative;
    background-color: #012F34;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 2rem 1rem;
}

// User image div
.userImg {
    width: 35%;
    margin-inline: auto;

    img {
        border-radius: 50%;
        border: 2px solid white;
    }
}

// Cross icon div
.cross {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F67E7E;
    padding: 1rem;
    border-radius: 50%;
}