// Mixins
@mixin padding {
    padding: 2rem;
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

// Wrapper div
.wrapper {
    max-width: 80%;
    margin-inline: auto;
}

// Content div
.content {
    @include padding();
    @include flexCenter();

    @media(min-width:1024px) {
        text-align: start;
        flex-direction: row;
        gap: 4rem;
    }
}

// About component - Parent container
.container {
    color: white;
    text-align: center;

    h1 {
        font-size: clamp(40px, 8vw, 100px);
        margin-bottom: 1rem;
        line-height: 1;
    }

    h2 {
        font-size: clamp(40px, 5vw, 64px);
        margin-bottom: 1rem;
        line-height: 1;
    }

    h3 {
        color: #F67E7E;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    p {
        max-width: 80ch;
    }
}

// Overview component - child container
.overview {
    background-color: #014E56;
    text-align: center;
}

// Director component - child container
.director {
    background-color: #004047;

    .content {
        flex-direction: column;
        text-align: center;
    }

    .avatars {
        @include flexCenter();
        gap: 3rem;

        @media(min-width:1024px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .avatar {
        position: relative;
        padding: 2rem;
        background-color: #012F34;

        img {
            margin-inline: auto;
            margin-bottom: 1rem;
            width: 50%;
            border-radius: 50%;
            border: 3px solid white;
        }

        .cross {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15%;
            padding: 1rem;
            background-color: #F67E7E;
            border: none;
        }
    }
}

// Clients component - child container
.clients {
    background-color: #012F34;

    .content {
        flex-direction: column;
    }


    .icons {
        @include flexCenter();
        gap: 4rem;

        img {
            width: 50%;
        }

        @media(min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;

            img {
                width: 15%;
            }
        }
    }
}