// Mixins
@mixin padding {
    padding: 2rem;

    @media(min-width:768px) {
        padding: 3rem;
    }

    @media(min-width: 1024px) {
        padding: 6rem;
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

// About component - Parent container
.container {
    color: white;
    text-align: center;

    h1 {
        font-size: clamp(40px, 8vw, 100px);
        margin-bottom: 1rem;
        line-height: 1;
    }

    h2 {
        font-size: clamp(32px, 5vw, 48px);
        margin-bottom: 3rem;
        line-height: 1;
    }

    h3 {
        color: #F67E7E;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}

// Overview component - child container
.overview {
    @include padding();
    background-color: #014E56;
    text-align: center;

    @media(min-width: 1024px) {
        @include flexCenter();
        text-align: start;

        p {
            flex-shrink: 2;
        }
    }
}

// Director component - child container
.director {
    @include padding();
    background-color: #004047;

    .avatars {
        @include flexCenter();
        flex-wrap: wrap;
        gap: 3rem;
    }

    .avatar {
        position: relative;
        padding: 3rem;
        background-color: #012F34;
        max-width: 350px;

        img {
            margin-inline: auto;
            margin-bottom: 1rem;
            width: 60%;
            border-radius: 50%;
            border: 3px solid white;
        }

        .cross {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15%;
            padding: 1rem;
            background-color: #F67E7E;
            border: none;
        }
    }
}